<?xml version="1.0" encoding="UTF-8"?>
<registry>
	<config>
		<database>
			<backend>mysql</backend>
			<host>localhost</host>
			<user>root</user>
			<password>bl4b</password>
			<database>bugs</database>
		</database>
		<messenger>
			<sender>
				<name>System</name>
				<email>noreply@system.example</email>
			</sender>
		</messenger>
		<language>
			<default>en</default>
			<available>
				<!--<lang>de</lang>
				<lang>fr</lang>
				<lang>it</lang>-->
				<lang>en</lang>
			</available>
		</language>
		<resolver>
			<module>DomainResolver</module>
			<module>WebsiteResolver</module>
			<module>DBSitekeyResolver</module>
			<module>FilesystemResolver</module>
		</resolver>
	</config>
	<swisdk>
		<modules>
			<module name="Form">
				<includefile>inc.form.php</includefile>
			</module>
			<module name="DB">
				<includefile>inc.db.php</includefile>
			</module>
			<module name="DataMapping">
				<includefile>inc.datamapping.php</includefile>
				<depends>
					<module>DB</module>
				</depends>
			</module>
			<module name="Data">
				<includefile>inc.data.php</includefile>
			</module>
			<module name="UserSession">
				<includefile>inc.usersession.php</includefile>
				<!-- UserSession should really not depend on DB
				<depends>
					<module>DB</module>
				</depends>
				-->
			</module>
			<module name="Language">
				<includefile>inc.language.php</includefile>
				<depends>
					<module>UserSession</module>
				</depends>
			</module>
			<module name="Component">
				<includefile>inc.component.php</includefile>
				<depends>
					<module>UserSession</module>
				</depends>
			</module>
			<module name="Formhandling">
				<includefile>inc.formhandling.php</includefile>
			</module>
			<module name="Ajax">
				<includefile>inc.ajax.php</includefile>
			</module>
		</modules>
		<siterunner>
			<filetypes>
				<filetype extension="ctrl.php">
					<class>DynamicSiteHandler</class>
					<includefile></includefile>
				</filetype>
				<filetype extension="tpl.html">
					<class>TemplateSiteHandler</class>
					<includefile></includefile>
				</filetype>
			</filetypes>
		</siterunner>
		<session>
			<authentification>
				<module>SinglePasswordAuthModule</module>
				<!--<module>DatabaseAuthModule</module>-->
				<!--<module>LDAPAuthModule</module>-->
			</authentification>
		</session>
	</swisdk>
</registry>
